<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.mapper.AdminMypageMapper">

	
		<!-- 구단 전체 조회 -->
		<select id="CountTeamAll"
			resultType="com.fl.model.TeamDTO">
			SELECT
			*
			FROM team
		</select>
		
		<!-- 구단 관리 구단주명 포함 조회 -->
		<select id="ListTeamAll"
				resultType="com.fl.model.TeamDTO">	
				SELECT
				    t.team_name      AS team_name,
				    t.contact_number AS contact_number,
				    t.region,
				    t.member_count   AS member_count,
				    m.member_name    AS leader_name
				FROM team t
				JOIN member_team mt
				  ON t.team_code = mt.team_code
				JOIN member m
				  ON mt.member_code = m.member_code
				WHERE mt.role_level >= 10 
		  </select>
		
		
		<!-- 구장 전체 조회 -->
		<select id="CountStadiumAll"
			resultType="com.fl.model.StadiumDTO">

			SELECT
			*
			FROM stadium
		</select>
		
		<!-- 멤버 전체 조회 -->
		<select id="CountMemberAll"
			resultType="com.fl.model.MemberDTO">

			SELECT
			*
			FROM member
		</select>


</mapper>