<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.mapper.MatchMapper">
	
	<sql id="where-list">
	    <if test="region != null and region != '' and region != 'all'">
	        AND s.region = #{region}
	    </if>
    	 <if test="matchDate!=null and matchDate!=''">
                AND TO_CHAR(m.match_date, 'YYYY-MM-DD') = #{matchDate}
         </if>
         
   		 <if test="kwd != null and kwd != ''">
           
                AND ( INSTR(m.title, #{kwd}) &gt; 0
                   OR INSTR(ht.team_name, #{kwd}) &gt; 0 
                   OR INSTR(stadium_name, #{kwd}) &gt; 0 )
         </if>
	</sql>
	
	<!-- 글 등록 -->
	<insert id="insertMatch" parameterType="com.fl.model.MatchDTO">
	    INSERT INTO match_post
	        (match_code,home_code,away_code,match_date,status,title,content,created_at,view_count, matchType, gender, fee,member_code,matchLevel,stadium_code)
	    VALUES
	    (seq_match_post.NEXTVAL, #{home_code},NULL,
	     TO_DATE(#{match_date}, 'YYYY-MM-DD"T"HH24:MI'), '모집중',#{title},#{content},SYSDATE,
	      0,#{matchType},#{gender},#{fee},#{member_code},#{matchLevel},#{stadium_code})
	</insert>
	
	<!-- 매치신청 등록 -->
	<insert id="insertMatchApply" parameterType="com.fl.model.MatchApplyDTO">
		INSERT INTO match_apply(apply_code,match_code,team_code,apply_date,status)
		VALUES (seq_match_apply.NEXTVAL, #{match_code},#{team_code},SYSDATE,'매칭대기')
	</insert>
	
	<!-- 글 수정 -->
	<update id="updateMatch" parameterType="com.fl.model.MatchDTO" >
		UPDATE match_post SET title=#{title}, content=#{content}, match_date=TO_DATE(#{match_date}, 'YYYY-MM-DD"T"HH24:MI'), status=#{status}, 
		 		matchType=#{matchType}, gender=#{gender},fee=#{fee}, matchLevel=#{matchLevel}, stadium_code=#{stadium_code}, home_code=#{home_code}
		WHERE match_code=#{match_code}
	</update>
	
	<!-- 매치신청 상태 변경 -->
	<update id="updateApplyStatus" parameterType="com.fl.model.MatchApplyDTO" >
		UPDATE match_apply SET status=
			CASE
			 WHEN team_code=#{team_code} THEN '수락'
			 ELSE '마감' END
		WHERE apply_code=#{apply_code} AND match_code=#{match_code}
	</update>
	
	<!-- 매치 성사되었을 때 상태 변경 -->
	<update id="updateMatchStatus" parameterType="com.fl.model.MatchDTO">
		UPDATE match_post SET status=#{post_status}, away_code=#{away_code}
		WHERE match_code=#{match_code}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="deleteMatch" parameterType="map">
		DELETE FROM match_post 
		<where>
			<choose>
				<when test="ROLE_LEVEL>=1">
					match_code=#{match_code}
				</when>
				<otherwise>
					match_code=#{match_code} AND member_code=#{member_code}
				</otherwise>
			</choose>
		</where>
	</delete>
	
	<!-- 글 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
	    FROM match_post m  
	     JOIN team ht ON ht.team_code = m.home_code      
	     JOIN stadium s ON s.stadium_code = m.stadium_code 
	
	   <where>
	      <include refid="where-list"/>
	    </where>

	</select>

	<!-- 매치 리스트 -->
	<select id="listMatch" parameterType="map" resultType="com.fl.model.MatchDTO">
    SELECT 
        m.match_code,
        ht.team_name AS home_team_name,
        at.team_name AS away_team_name,
        TO_CHAR(m.match_date, 'YYYY-MM-DD HH24:MI') AS match_date,
        m.status, m.title, m.content, m.view_count,  m.matchType,  m.gender,  m.fee, m.member_code,
        s.stadium_name AS stadiumName, s.region AS region, m.matchLevel,   m.stadium_code AS stadium_code
    FROM match_post m
    JOIN team ht ON ht.team_code = m.home_code
    JOIN stadium s ON s.stadium_code = m.stadium_code
    LEFT JOIN team at ON at.team_code = m.away_code
    <where>
        <include refid="where-list"/>
    </where>
	    ORDER BY m.match_date
	    OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<!-- 매치 신청 리스트 -->
	<select id="listApplicant" parameterType="map" resultType="com.fl.model.MatchApplyDTO">
		SELECT a.apply_code, a.match_code, a.team_code, TO_CHAR(a.apply_date,'YYYY-MM-DD HH24:MI') as apply_date, a.status,
		 		t.team_name
		FROM match_apply a
		JOIN team t ON t.team_code = a.team_code
		WHERE a.match_code = #{match_code}
		ORDER BY a.apply_code 
	</select>
	
	<!-- 코드로 정보갖고오기 -->
	<select id="findById" parameterType="Long" resultType="com.fl.model.MatchDTO">
		SELECT m.match_code,ht.team_name AS home_team_name,TO_CHAR(m.match_date, 'YYYY-MM-DD HH24:MI') AS match_date, m.status,m.title, 
		m.content, m.fee,s.stadium_name AS stadiumName, s.region AS region, matchType, gender, matchLevel, m.stadium_code, home_code,m.member_code
		FROM match_post m
		JOIN team ht ON ht.team_code = m.home_code
		JOIN stadium s ON s.stadium_code = m.stadium_code
		LEFT JOIN team at ON at.team_code = m.away_code
		WHERE m.match_code = ${match_code}
	</select>
	
	<!-- 내 팀 매치 리스트 -->
	<select id="listMyMatch" parameterType="map" resultType="com.fl.model.MatchDTO">
		SELECT m.match_code,home_code,away_code,match_date,status,title,content,view_count,matchType,gender,fee,m.member_code
		FROM match_post m
		JOIN team t ON t.team_code =(m.home_code || m.away_code)
		WHERE m.member_code = #{member_code}
	</select>
	
	<select id="listUserTeams" parameterType="Long" resultType="com.fl.model.TeamDTO">
	    SELECT t.team_code, t.team_name, mt.role_level
	    FROM team t
	    JOIN member_team mt ON t.team_code = mt.team_code 
	    WHERE mt.member_code = #{member_code}
    </select>
    
    <select id="getUserTeamRole" parameterType="map" resultType="int">
    	SELECT NVL(MAX(role_level),0)
    	FROM member_team
    	WHERE member_code = #{member_code} AND team_code=#{team_code}
    </select>
	
</mapper>