<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.mapper.MatchMapper">

	<!-- 글 등록 -->
	<insert id="insertMatch" parameterType="com.fl.model.MatchDTO">
		INSERT INTO match_post
			(match_code,home_code,away_code,match_date,status,title,content,created_at,view_count, matchType, gender, fee,member_code)
		VALUES
		(seq_match_post.NEXTVAL, #{home_code},NULL,TO_CHAR(match_date,'YYYY-MM-DD')match_date, '모집중',#{title},#{content},SYSDATE,0,#{matchType},#{gender},#{fee},#{member_code})
	</insert>
	
	<sql id="where-list">
		<choose>
			<when test="schType=='all'">
				( INSTR(title,#{kwd})) &gt; 0
				   OR INSTR(content, #{kwd}) &gt; 0)
			</when>
			<when test="schType == 'created_at'">
				( TO_CHAR(created_at,'YYYYMMDD') = #{kwd}
					OR TO_CHAR(created_at,'YYYY-MM-DD')=#{kwd})
			</when>
			<otherwise>
				INSTR(${schType},#{kwd}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<!-- 글 수정 -->
	<update id="updateMatch">
		UPDATE match_post SET title=#{title}, content=#{content}, match_date=#{match_date}, status=#{status}, matchType=#{matchType}, gender=#{gender},fee=#{fee}
		WHERE match_code=#{match_code}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="deleteMatch" parameterType="map">
		DELETE FROM match_post 
		<where>
			<choose>
				<when test="ROLE_LEVEL>=5">
					match_code=#{match_code}
				</when>
				<otherwise>
					match_code=#{match_code} AND member_code=#{member_code}
				</otherwise>
			</choose>
		</where>
	</delete>
	
	<!-- 글 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM match_post
		<where>
			<if test="kwd != null and kwd !=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>

	<!-- 매치 리스트 -->
	<select id="listMatch" parameterType="map" resultType="com.fl.model.MatchDTO">
		SELECT m.match_code,ht.team_name AS home_team_name,at.team_name AS away_team_name,
		      TO_CHAR(match_date,'YYYY-MM-DD HH24:MI') match_date,status,title,content,view_count,
		      matchType,gender,fee,m.member_code, stadium_name,s.region AS region
		FROM match_post m
		JOIN team ht ON ht.team_code = m.home_code
		JOIN stadium s ON s.stadium_code = m.stadium_code
		LEFT JOIN team at ON at.team_code = m.away_code
		ORDER BY m.match_date 
	</select>
	
	<!-- 팀코드 가져오기 -->
	<select id="findById" parameterType="Long" resultType="com.fl.model.MatchDTO">
		SELECT m.match_code,ht.team_name AS home_team_name,TO_CHAR(m.match_date, 'YYYY-MM-DD HH24:MI') AS match_date,
        m.status,
        m.title,    m.content,  m.fee,
        s.stadium_name AS stadium_name, s.region AS region
		FROM match_post m
		JOIN team ht ON ht.team_code = m.team_code
		JOIN stadium s ON s.stadium.code = m.stadium.code
		LEFT JOIN team at ON at.team_code = m.team_code
		WHERE m.match_code = ${match_code}
	</select>
	
	
	<!-- 내 팀 매치 리스트 -->
	<select id="listMyMatch" parameterType="map" resultType="com.fl.model.MatchDTO">
		SELECT match_code,home_code,away_code,match_date,status,title,content,view_count,matchType,gender,fee,member_code
		FROM match_post m
		JOIN team t ON t.team_code =(m.home_code || m.away_code)
		WHERE m.member_code = #{member_code}
	</select>
	
	
	
	
</mapper>