<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.mapper.MemberMapper">
	<!-- 로그인 -->
	<select id="loginMember" parameterType="map" resultType="com.fl.model.MemberDTO">
	    SELECT 
	        member_code,
	        member_id,
	        password,
	        member_name,
	        phone_number,
	        email,
	        region,
	        profile_image,
	        preferred_position,
	        role_level,
	        is_deleted,
	        deleted_at
	    FROM member
	    WHERE member_id = #{userId} 
	      AND password = #{password} 
      </select>
	
	<!-- 회원가입 -->
	<!-- role_level(권한레벨): 0이면 일반회원, 99이면 관리자 -->
	<!-- is_deleted(탈퇴여부): 0이면 탈퇴X, 1이면 탈퇴O -->
	<insert id="insertMember" parameterType="com.fl.model.MemberDTO">
		INSERT INTO member(
			member_code, member_id, password, member_name, 
			phone_number, email, region, profile_image, 
			preferred_position, role_level, is_deleted, deleted_at
		)
		VALUES (
			seq_member.NEXTVAL, 
			#{member_id}, 
			#{password}, 
			#{member_name}, 
			#{phone_number}, 
			#{email}, 
			#{region, jdbcType=VARCHAR}, 
			#{profile_image, jdbcType=VARCHAR}, 
			#{preferred_position, jdbcType=VARCHAR},
			0, 
			0, 
			SYSDATE
		)
	</insert>
	
	<!-- 아이디 찾기(중복 아이디 확인) -->
	<select id="findById" parameterType="String" resultType="com.fl.model.MemberDTO">
		SELECT member_code, member_id, password, member_name, phone_number, email, 
			region, profile_image, preferred_position, role_level, is_deleted, deleted_at
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="com.fl.model.MemberDTO">
		UPDATE member SET password = #{password}, member_name = #{member_name}, 
			phone_number = #{phone_number}, email = #{email}, region = #{region}, profile_image = #{profile_image},
			preferred_position = #{preferred_position}
		WHERE member_id = #{member_id}
	</update>

	<!-- 패스워드 찾기 업데이트 -->
	<update id="updateMemberPw" parameterType="com.fl.model.MemberDTO">
		UPDATE member SET password = #{password}
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 프로필사진 지우기 -->
	<update id="deleteProfileImage" parameterType="map">
		UPDATE member SET profile_image = ''
		WHERE member_id = #{member_id}
	</update>
	
	<!-- 회원탈퇴 -->
	<!-- role_level(권한레벨): 0이면 일반회원, 99이면 관리자 -->
	<!-- is_deleted(탈퇴여부): 0이면 탈퇴X, 1이면 탈퇴O -->
	<update id="deleteMember" parameterType="map">
		UPDATE member SET is_deleted = 1, deleted_at = SYSDATE
		WHERE member_id = #{member_id} 
	</update>
	
	<!-- 아이디찾기(이름, 이메일이 일치) -->
	<select id="findId" parameterType="map" resultType="com.fl.model.MemberDTO">
	    SELECT *
	    FROM member
	    WHERE member_name = #{member_name} 
	      AND email = #{email}
	      AND is_deleted = 0
	</select>
		
</mapper>