<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.mapper.MemberMapper">
	<select id="loginMember" parameterType="map" resultType="com.fl.model.MemberDTO">
		SELECT memberIdx, userId, userPwd, userName, userLevel,
			register_date, modify_date
		FROM member
		WHERE userId = #{userId} AND userPwd = #{userPwd} AND enabled = 1
	</select>
	
</mapper>