<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fl.mapper.MercenaryMapper">
	

    <select id="listMercenary" parameterType="map" resultType="com.fl.model.MercenaryDTO">
        SELECT recruit_id, team_code, match_code, member_code, 
               created_at, status, title, content, view_count
        FROM MERCENARY_POST
    </select>
    
    <insert id="insertMercenary" parameterType="com.fl.model.MercenaryDTO">
        INSERT INTO MERCENARY_POST (
            recruit_id, team_code, match_code, member_code, 
               created_at, status, title, content, view_count
        ) VALUES (
            SEQ_MERCENARY_POST.NEXTVAL, #{team_code}, #{match_code, jdbcType=BIGINT}, #{member_code},
            SYSDATE, 'RECRUITING', #{title}, #{content}, 0
        )
    </insert>

    <select id="listTeam" parameterType="map" resultType="com.fl.model.MercenaryDTO">
		select t.team_code, team_name
		from team t 
		join member_team m on t.team_code = m.team_code
		where m.member_code = #{member_code}
    </select>
	
	<update id="updateMercenary" parameterType="com.fl.model.MercenaryDTO">
		UPDATE Mercenary_post SET title = #{title}, content = #{content}
		WHERE recruit_id = #{recruit_id} AND member_code = #{member_code}
	</update>
    
    <select id="findById" parameterType="long" resultType="com.fl.model.MercenaryDTO">
        SELECT recruit_id, title, content
    	FROM mercenary_post
    	WHERE recruit_id = #{recruit_id}
    </select>
    
</mapper>